.usersSession{position:relative;display:inline-block;height:30px;width:auto;padding:0;margin:0;line-height:1.5em;white-space:nowrap;background-color:inherit;}
.usersBox{z-index:999;position:absolute;top:30px;right:0;width:214px;padding:1.4em;text-align:left;background-color:inherit;border-bottom-left-radius:5px;border-bottom-right-radius:5px;box-shadow:0 1px 2px #666666;}
.usersBox label{display:block;padding:5px 0 0;color:#999;font-size:.8em;line-height:1.6em;}
.usersBox input{box-sizing:border-box;width:100%;min-width:0;background:#666666;border-bottom:1px solid #333;border-left:1px solid #000;border-right:1px solid #333;border-top:1px solid #000;color:#fff;font:.92em Arial,Helvetica,sans-serif;padding:6px 6px 4px;}
.usersBox button{margin:6px 0;}
.usersBox a{color:#999;text-decoration:none;font-size:.85em;white-space:normal;padding:2px;line-height:1.4em;}
.usersAlert{max-width:100%;white-space:normal;}
.usersLink{margin-left:4px;}
.usersLink a{padding:0!important;padding-right:4px!important;}
.w3-red{color:#f44336;}.w3-green{color:#4CAF50;}
